body {
    background-color: #D3D3D3;
}

.container-fluid{
    width: 60%;
}

.schoolform{
    background-color: greenyellow;
    border-radius: 3%;
    padding: 30px;

}

#submit {
    align-items: center;
    text-align: center;
}